NUXT_SMTP_HOST=smtp.tudominio.com
NUXT_SMTP_PORT=587
NUXT_SMTP_USER=usuario@tudominio.com
NUXT_SMTP_PASS=tu-clave-smtp
NUXT_SMTP_SECURE=false
NUXT_CONTACT_TO_EMAIL=info@darse.do
NUXT_CONTACT_FROM_EMAIL=usuario@tudominio.com
